@font-face{
    font-family: Roboto;
    src:url("./fonts/Roboto-Bold.ttf");
}

.page-header{
    height: 126px;
    /* width: 100%; */
    background: #D2FFA6;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.1));
}

.container1{
    width: 800px;
    margin: auto;
    text-align: center;
}

.pg{
    display: flex;
    align-items: center;
}

.tx{
    margin-top: auto;
    position: relative;
    flex: 1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 0%;
    letter-spacing: 0.2em;
    color: #3F3F3F;
}



.txmain{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 0%;
color: #000000;
}

.mv:hover{
    transform: scale(1.01);
    background: rgba(1,1,1,0.05);
}

.an:hover{
    transform: scale(1.01);
    background: rgba(1,1,1,0.05);
}

.yt:hover{
    transform: scale(1.01);
    background: rgba(1,1,1,0.05);
}

.bk:hover{
    transform: scale(1.01);
    background: rgba(1,1,1,0.05);
}

.nv:hover{
    transform: scale(1.01);
    background: rgba(1,1,1,0.05);
}

.tg:hover{
    transform: scale(1.01);
    background: rgba(1,1,1,0.05);
}
.ad:hover{
    transform: scale(1.01);
    background: rgba(1,1,1,0.05);
}

.pd:hover{
    transform: scale(1.01);
    background: rgba(1,1,1,0.05);
}
.mus:hover{
    transform: scale(1.01);
    background: rgba(1,1,1,0.05);
}


